listMergedBranches.sh

.idea
*.iml
gobii-client/target
gobii-dao/target
gobii-domain/target
gobii-dtomapping/target
gobii-model/target
gobii-api-model/target
gobii-brapi/target
gobii-process/target
gobii-web/target
gobii-brapi/target
/bin/

.settings
.classpath
.project
*.log
gobii-web/src/main/ts/*.js
gobii-web/src/main/ts/*.map
gobii-web/src/main/ts/.baseDir.ts
gobii-web/node_modules
gobii-web/.tscache


gobii-model/src/main/resources/gobii.properties
gobii-client/gobii-web.xml
